<div class="gap-6 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 mt-6">

  <%- include("./_planCardWithImage", {
    title: "Holiday Luxury Apartment VI",
    rate: "6%",
    duration: "365 Days",
    minDeposit: "$200,000 USD",
    maxDeposit: "$500,000 USD",
    roi: "2190%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $200,000 USD. Your potential return on investment (ROI) is $4,180,000 USD, leading to a total payout of $4,380,000 USD after 365 Days",
    image: "/Images/vi.png"
  }) %>

  <%- include("./_planCardWithImage", {
    title: "Holiday Luxury Apartment V",
    rate: "5.5%",
    duration: "365 Days",
    minDeposit: "$180,000 USD",
    maxDeposit: "$400,000 USD",
    roi: "2,007.5%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $180,000 USD. Your potential return on investment (ROI) is $3,433,500 USD, leading to a total payout of $3,613,500 USD after 365 Days.",
    image: "/Images/v.png"
  }) %>

  <%- include("./_planCardWithImage", {
    title: "Holiday Luxury Apartment IV",
    rate: "5%",
    duration: "365 Days",
    minDeposit: "$150,000 USD",
    maxDeposit: "$350,000 USD",
    roi: "1825%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $150,000 USD. Your potential return on investment (ROI) is $2,587,500 USD, leading to a total payout of $2,737,500 USD after 365 Days.",
    image: "/Images/iv.png"
  }) %>

  <%- include("./_planCardWithImage", {
    title: "Holiday Luxury Apartment III",
    rate: "4%",
    duration: "365 Days",
    minDeposit: "$175,000 USD",
    maxDeposit: "$320,000 USD",
    roi: "1460%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $175,000 USD. Your potential return on investment (ROI) is $2,380,000 USD, leading to a total payout of $2,555,000 USD after 365 Days.",
    image: "/Images/iii.png"
  }) %>

  <%- include("./_planCardWithImage", {
    title: "Holiday Luxury Apartment II",
    rate: "3%",
    duration: "365 Days",
    minDeposit: "$100,000 USD",
    maxDeposit: "$180,000 USD",
    roi: "1095%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $100,000 USD. Your potential return on investment (ROI) is $995,000 USD, leading to a total payout of $1,095,000 USD after 365 Days",
    image: "/Images/ii.png"
  }) %>

  <%- include("./_planCardWithImage", {
    title: "Holiday Luxury Apartment",
    rate: "2%",
    duration: "365 Days",
    minDeposit: "$50,000 USD",
    maxDeposit: "$250,000 USD",
    roi: "730%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $50,000 USD. Your potential return on investment (ROI) is $315,000 USD, leading to a total payout of $365,000 USD after 365 Days",
    image: "/Images/i.png"
  }) %>

</div>
