<div class="gap-6 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 mt-6">
  <!-- TEST SCHEME -->
  <%- include("./_planCard.ejs", {
    title: "TEST SCHEME",
    rate: "3.5%",
    duration: "7 Days",
    minDeposit: "$100 USD",
    maxDeposit: "$999 USD",
    roi: "24.5%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $100 USD. Your potential return on investment (ROI) is $24.5 USD, leading to a total payout of $124.5 USD after 7 Days."
  }) %>

  <!-- STARTERS SCHEME -->
  <%- include("./_planCard.ejs", {
    title: "STARTERS SCHEME",
    subtitle: "Most Popular Plan",
    rate: "4%",
    duration: "14 Days",
    minDeposit: "$1,000 USD",
    maxDeposit: "$4,999 USD",
    roi: "56%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $1,000 USD. Your potential return on investment (ROI) is $560 USD, leading to a total payout of $1,560 USD after 14 Days."
  }) %>

  <!-- PROFESSIONAL SCHEME -->
  <%- include("./_planCard.ejs", {
    title: "PROFESSIONAL SCHEME",
    rate: "4.5%",
    duration: "35 Days",
    minDeposit: "$5,000 USD",
    maxDeposit: "$24,999 USD",
    roi: "157.5%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $5,000 USD. Your potential return on investment (ROI) is $2,875 USD, leading to a total payout of $7,875 USD after 35 Days."
  }) %>

  <!-- PREMIUM SCHEME -->
  <%- include("./_planCard.ejs", {
    title: "PREMIUM SCHEME",
    rate: "5%",
    duration: "30 Days",
    minDeposit: "$25,000 USD",
    maxDeposit: "$49,999 USD",
    roi: "150%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $25,000 USD. Your potential return on investment (ROI) is $12,500 USD, leading to a total payout of $37,500 USD after 30 Days."
  }) %>

  <!-- VETERAN TRADE -->
  <%- include("./_planCard.ejs", {
    title: "VETERAN TRADE",
    rate: "5.5%",
    duration: "38 Days",
    minDeposit: "$50,000 USD",
    maxDeposit: "$99,999 USD",
    roi: "209%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $50,000 USD. Your potential return on investment (ROI) is $54,500 USD, leading to a total payout of $104,500 USD after 38 Days."
  }) %>

  <!-- SUPREME -->
  <%- include("./_planCard.ejs", {
    title: "SUPREME",
    rate: "6%",
    duration: "45 Days",
    minDeposit: "$100,000 USD",
    maxDeposit: "$1,000,000 USD",
    roi: "270%",
    referral: "10%",
    bonus: "No",
    summary: "Invest $100,000 USD. Your potential return on investment (ROI) is $170,000 USD, leading to a total payout of $270,000 USD after 45 Days."
  }) %>
</div>
