<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Withdrawal</title>
  <%- include("partials/_seo"); -%>
  <script defer src="../JS/auth.js"></script>
</head>

<body class="bg-offWhite text-xs md:text-sm xl:text-base main">
  <%- include("partials/_header", { userName: user.fullName }); -%>
  <%- include("partials/_userSidebar", { currentPage }); -%>
  <%- include('partials/_alert') %>
  <section class="flex flex-row justify-between items-center m-4">
    <div>
      <p class="font-bold text-neutral-800 text-lg md:text-xl lg:text-2xl xl:text-3xl">Withdrawal</p>
      <p class="text-neutral-500">Withdraw funds to your cryptocurrency wallet.</p>
    </div>
    <div>
      <p class="text-neutral-500">Balance</p>
      <h2 class="font-bold text-accentGreen text-lg md:text-xl lg:text-2xl xl:text-3xl text-center">$<%= userBalance %></h2>
    </div>
  </section>

  <section class="p-4">
    <div class="bg-white shadow-inner mt-4 p-4 border border-[#767680] border-opacity-10 rounded-2xl">
      <p class="font-bold text-neutral-800 text-sm md:text-base xl:text-lg"><span><i class="ph-arrow-bend-right-up text-accentGreen text-2xl ph"></i></span>Cryptocurrency Withdrawal</p>
      <p class="text-neutral-500">Withdraw funds directly to your cryptocurrency wallet. All transactions are processed securely.</p>

      <form id="myForm" action="/user/withdraw" method="POST" class="mt-10 w-full text-left">
        <div class="my-8">
          <label class="block mb-2 font-medium text-neutral-800">Withdrawal Type <span class="text-red-500">*</span></label>
          <div class="flex sm:flex-row flex-col gap-4">
            <label class="flex items-center gap-2 cursor-pointer">
              <input type="radio" name="withdrawalType" value="referral" class="size-4 accent-accentGreen" required />
              <span class="font-medium text-slate-800">Referral Payout</span>
            </label>

            <label class="flex items-center gap-2 cursor-pointer">
              <input type="radio" name="withdrawalType" value="standard" class="size-4 accent-accentGreen" required />
              <span class="font-medium text-neutral-800">Standard Withdrawal</span>
            </label>
          </div>
        </div>
        <label for="coin" class="block font-medium text-neutral-800 cursor-pointer">Choose your preferred Cryptocurrency <span class="text-red-500">*</span></label>
        <select required name="coin" id="coin" class="mt-1 mb-8 px-4 pr-10 border focus:border-primaryGreen border-black/10 rounded-md focus:outline-none w-full h-11 cursor-pointer">
          <option value="">Select Coin</option>
          <option value="bitcoin">Bitcoin</option>
          <option value="tron">Tron</option>
          <option value="ethereum">Ethereum</option>
          <option value="trc20">USDT TRC20</option>
        </select>
        <%- include('partials/_amountInput.ejs', { type: 'number', id: 'amount', name: 'amount', label: 'Amount', placeholder: `Minimum of $${minimum}`, required: true, quickSelect: [100, 200, 250, 300, 500, 'max'], maxValue: userBalance}) %>
        <div class="flex justify-between items-center -mt-3">
          <p id="warning" class="hidden text-[10px] text-red-600 md:text-xs xl:text-sm">The Minimum Withdrawal is $<%= minimum %></p>
          <p class="text-green-600 md:text-xs xl:text-sm">Available: $<%= userBalance %></p>
        </div>
        <%- include('partials/_button.ejs', { type: 'submit', label: 'Withdrawal Now', icon: '📤', disabled: false }) %>
      </form>
    </div>
    <div class="flex flex-col gap-y-5 bg-white shadow-inner mt-4 p-4 border border-[#767680] border-opacity-10 rounded-2xl">
      <p class="font-semibold text-neutral-900 text-base md:text-lg xl:text-xl"><span><i class="ph ph-info"></i></span>Tips</p>
      <div class="flex items-center gap-x-2">
        <img src="/Images/circleCircle.svg" class="size-4" alt="Icon">
        <p>Update your profile with your wallet address before proceeding.</p>
      </div>
      <div class="flex items-center gap-x-2">
        <img src="/Images/circleCircle.svg" class="size-4" alt="Icon">
        <p>Allow up to 3 business days for withdrawal processing..</p>
      </div>
      <div class="flex items-center gap-x-2">
        <img src="/Images/circleCircle.svg" class="size-4" alt="Icon">
        <p>Contact support if your withdrawal is not credited after 3 business days.</p>
      </div>
    </div>
    <div class="bg-[#FFFFFF] shadow-inner mt-6 p-4 border border-[#767680] border-opacity-10 rounded-2xl">
      <h2 class="mb-4 font-bold text-lightBlack text-sm md:text-base xl:text-lg">Your Withdrawals</h2>
      <div class="h-72 overflow-y-auto">
        <% if (withdrawals.length === 0) { %>
        <p class="text-red-600 text-xs sm:text-sm md:text-base">No Withdrawal Transaction Yet.</p>
        <% } else { %>
        <% withdrawals.forEach(withdraw => { %>
        <%- include('partials/_transaction', {
                iconBg: "bg-[#DB6464]",
                iconSrc: "/Images/withdraw.svg",
                iconAlt: "Withdraw Icon",
                textColor: "text-[#141619]",
                description: `Withdrawal via ${withdraw.coin}`,
                amountColor: "text-[#FF5964]",
                amountSign: "-",
                amount: withdraw.amount,
                date: withdraw.createdAt.toLocaleString("en-US", { year: "numeric", month: "short", day: "numeric", hour: "2-digit", minute: "2-digit", second: "2-digit", hour12: false })
            }) %>
        <% }) %>
        <% } %>
      </div>
    </div>
  </section>
 <script>
  const minimum = <%= JSON.stringify(minimum) %>;
  document.getElementById("amount").addEventListener("input", function () {
    const amountInput = this;
    const minAmount = parseFloat(minimum);
    const enteredAmount = parseFloat(amountInput.value);
    const warning = document.getElementById("warning");

    // Hide or show the deposit message
    if (!isNaN(enteredAmount) && enteredAmount > minAmount) {
      warning.classList.add("hidden");
    } else {
      warning.classList.remove("hidden");
    }
  });
</script>

</body>

</html>